.catalog {
  padding-top: 40px;

  > h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  > .catalog__load-more {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    gap: var(--gap);
    align-items: center;
    margin-bottom: 25px;
    color: var(--light-blue);
    background-color: transparent;
    font-family: var(--c-b);
    text-decoration: underline;
    transition: color var(--time) var(--time-destribution),
      transform var(--time) var(--time-destribution);

    &:hover,
    &:focus {
      color: var(--blue);
      transform: scale(1.05);
    }

    &:active {
      color: var(--gray);
      transform: scale(0.95);
    }
  }
}
