.header {
  background-color: var(--light-blue);
  box-shadow: 0px 0px 8px 8px var(--light-blue);
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
  flex-grow: 1;
  @media screen and (min-width: 992px) {
    max-width: 1200px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.241) 5%,
    rgba(112, 112, 112, 0.452) 100%
  );

  > span {
    font-family: var(--c-l);
    color: var(--gray);

    font-size: 13px;

    display: flex;
    align-items: center;
    gap: var(--gap);

    > a {
      font-family: var(--c-b);
      font-size: 14px;
      cursor: pointer;
      text-decoration: underline;
      color: var(--black);
      transition: color var(--time) var(--time-destribution),
        text-decoration var(--time) var(--time-destribution);
      &:hover,
      &:focus {
        color: var(--gray);
      }
    }
  }
}

.bg-lodaer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
