.favorites {
  padding: 0 24px;
  position: relative;

  > h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  > .favorites__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    gap: var(--gap);
    > h3 {
      text-align: center;
      width: 85%;
      font-size: 30px;
      color: var(--light-blue);
    }

    > svg {
      color: var(--blue);
    }
  }

  > ul {
    min-width: 300px;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-top: 40px;
    margin-bottom: 50px;

    > li {
      padding: 8px 16px;
      border-bottom: 1px solid var(--light-blue);
      display: flex;
      justify-content: center;
      transition: transform var(--time) var(--time-destribution),
        border var(--time) var(--time-destribution);

      &:hover {
        transform: scale(1.1);
        border-bottom: 1px solid var(--black);

        > a {
          color: var(--gray);
          transition: color var(--time) var(--time-destribution);
          > span {
            color: var(--blue);
            transition: color var(--time) var(--time-destribution);
          }
        }
      }

      > a {
        text-align: center;
        color: var(--black);
        font-family: var(--c-b);
        > span {
          color: var(--light-blue);
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    display: flex;
    gap: 24px;

    > ul {
      padding: 40px;
      margin-bottom: 0;
    }
  }
}
