.item-car {
  overflow: hidden;
  transition: transform var(--time) var(--time-destribution);
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  .item-car__img-box {
    height: 268px;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 14px;
    position: relative;

    > img {
      object-fit: cover;
      height: 100%;
    }

    > button {
      position: absolute;
      top: 16px;
      right: 16px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      > .item-car__favorite-empty {
        color: var(--half-white);
        transition: color var(--time) var(--time-destribution);
      }

      > .item-car__favorite-filled {
        color: var(--light-blue);
        transition: color var(--time) var(--time-destribution);
      }
    }
  }

  > .item-car__info-box {
    flex: 1 1 auto;
    > h3 {
      margin: 0;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      gap: var(--gap);
      font-family: var(--c-b);

      > span {
        > span {
          color: var(--light-blue);
        }
      }
      > span:first-child {
        overflow: hidden;
        white-space: pre-line;
      }
    }

    > p {
      margin: 0;
      font-family: var(--c-l);
      font-size: 12px;
      color: var(--half-black);
      margin-bottom: 28px;
    }

    > p:nth-child(2) {
      margin-bottom: 4px;
    }
  }

  > button {
    width: 100%;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--light-blue);
    font-family: var(--c-r);
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 12px 0;
    transition: background var(--time) var(--time-destribution),
      transform var(--time) var(--time-destribution);

    &:hover,
    &:focus {
      background-color: var(--blue);
    }
    &:active {
      background-color: var(--gray);
      transform: scale(0.95);
    }
  }
}
